:host {
  --spinner-back-color: #ddd;
  --spinner-fore-color: #555;

  display: inline-block;
  margin: var(--universal-margin);
  border: 0.25rem solid var(--spinner-back-color);
  border-left: 0.25rem solid var(--spinner-fore-color);
  border-radius: 50%;
  width: 1.25rem;
  height: 1.25rem;
  animation: spinner-donut-anim 1.2s linear infinite;
}

@keyframes spinner-donut-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

:host([kind=primary]) {
  --spinner-fore-color: #1976d2;
}

:host([kind=secondary]) {
  --spinner-fore-color: #d32f2f;
}

:host([kind=tertiary]) {
  --spinner-fore-color: #308732;
}
