<!DOCTYPE html>
<html lang=en>
<head>
  <meta charset=utf-8>
  <title>Card</title>
</head>

<body>
  <h1>Card</h1>

  <mici-card>
    <mici-section>Test</mici-section>
  </mici-card>
  <mici-card size=small>
    <mici-section>Small</mici-section>
  </mici-card>
  <mici-card size=large>
    <mici-section>Large</mici-section>
  </mici-card>
  <mici-card size=fluid>
    <mici-section>Fluid</mici-section>
  </mici-card>
  <mici-card variant=warning>
    <mici-section>Warning</mici-section>
  </mici-card>
  <mici-card variant=error>
    <mici-section>Error</mici-section>
  </mici-card>

  <script type=module src=../../dist/index.js></script>
</body>
</html>
