:host {
  --card-back-color: #f8f8f8;
  --card-fore-color: #111;
  --card-border-color: #ddd;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  position: relative;
  width: 100%;
  background: var(--card-back-color);
  color: var(--card-fore-color);
  border: 0.0625rem solid var(--card-border-color);
  border-radius: var(--universal-border-radius);
  margin: var(--universal-margin);
  overflow: hidden;
}

@media screen and (min-width: 320px) {
  :host {
    max-width: 320px;
  }
}

@media screen and (min-width: 240px) {
  :host([size=small]) {
    max-width: 240px;
  }
}

@media screen and (min-width: 480px) {
  :host([size=large]) {
    max-width: 480px;
  }
}

:host([size=fluid]) {
  max-width: 100%;
  width: auto;
}

:host([variant=warning]) {
  --card-back-color: #ffca28;
  --card-border-color: #e8b825;
}

:host([variant=error]) {
  --card-back-color: #b71c1c;
  --card-fore-color: #f8f8f8;
  --card-border-color: #a71a1a;
}
