<!DOCTYPE html>
<html lang=en>
<head>
  <meta charset=utf-8>
  <title>Icon</title>
  <link rel="stylesheet" href="../../../dist/icons-base.min.css">
</head>

<body>
  <h1>Icon</h1>

  <mici-icon name=alert></mici-icon>
  <mici-icon kind=secondary name=alert></mici-icon>
  <mici-icon kind=inverse name=alert></mici-icon>
  <br><br>
  <mici-icon name=bookmark></mici-icon>
  <mici-icon name=calendar></mici-icon>
  <mici-icon name=cart></mici-icon>
  <mici-icon name=credit></mici-icon>
  <mici-icon name=edit></mici-icon>
  <mici-icon name=help></mici-icon>
  <mici-icon name=home></mici-icon>
  <mici-icon name=info></mici-icon>
  <mici-icon name=link></mici-icon>
  <mici-icon name=location></mici-icon>
  <mici-icon name=lock></mici-icon>
  <mici-icon name=mail></mici-icon>
  <mici-icon name=phone></mici-icon>
  <mici-icon name=rss></mici-icon>
  <mici-icon name=search></mici-icon>
  <mici-icon name=settings></mici-icon>
  <mici-icon name=share></mici-icon>
  <mici-icon name=upload></mici-icon>
  <mici-icon name=user></mici-icon>

  <script type=module src=../../../dist/index.min.js></script>
</body>
</html>
