<!DOCTYPE html>
<html lang=en>
<head>
  <meta charset=utf-8>
  <title>Section</title>
</head>

<body>
  <h1>Section</h1>

  <mici-card>
    <mici-section>Test</mici-section>
  </mici-card>
  <mici-card>
    <mici-section media>Media</mici-section>
  </mici-card>
  <mici-card>
    <mici-section dark>Dark</mici-section>
  </mici-card>
  <mici-card>
    <mici-section double-padded=large>Double-padded</mici-section>
  </mici-card>
  <mici-card>
    <mici-section><mici-h3 nomargin>Title without margin</mici-h3></mici-section>
    <mici-section>
      <mici-para nomargin>Paragraph without margin</mici-para>
    </mici-section>
  </mici-card>

  <script type=module src=../../dist/index.js></script>
</body>
</html>
