<!DOCTYPE html>
<html lang=en>
<head>
  <meta charset=utf-8>
  <title>Mark</title>

  <style>
    mici-mark { margin-right: 1ex }
  </style>
</head>

<body>
  <h1>Mark</h1>

  <h2>Standard</h2>
  <mark>Test</mark>

  <h2>Custom</h2>
  <mici-mark>Test</mici-mark>
  <mici-mark block>Block</mici-mark>
  <mici-mark tag>Tag</mici-mark>
  <mici-mark kind=secondary>Secondary</mici-mark>
  <mici-mark kind=tertiary>Tertiary</mici-mark>

  <script type=module src=../../../dist/index.min.js></script>
</body>
</html>
