<!DOCTYPE html>
<html lang=en>
<head>
  <meta charset=utf-8>
  <title>Footer</title>
</head>

<body>
  <h1>Footer</h1>

  <h2>Standard</h2>
  <footer><p>Test</p></footer>

  <h2>Custom</h2>
  <mici-footer>
    <mici-para>© 2016-2017 Web Corporation |
      <mici-link href="#">About</mici-link> |
      <mici-link href="#">Terms of use</mici-link>
    </mici-para>
  </mici-footer>
  <mici-footer sticky>Sticky</mici-footer>

  <script type=module src=../../../dist/index.min.js></script>
</body>
</html>
