<!DOCTYPE html>
<html lang=en>
<head>
  <meta charset=utf-8>
  <title>Nav</title>
</head>

<body>
  <h1>Nav</h1>

  <h2>Standard</h2>
  <nav>
    <a href="#">Category 1</a>
    <span>Category 2</span>
    <a href="#">Item 2.1</a>
    <span>Category 2.2</span>
    <a href="#">Item 2.2.1</a>
  </nav>

  <h2>Custom</h2>
  <mici-nav>
    <mici-link href="#">Category 1</mici-link>
    <mici-span>Category 2</mici-span>
    <mici-link href="#" sublink-1>Item 2.1</mici-link>
    <mici-span sublink-1>Category 2.2</mici-span>
    <mici-link href="#" sublink-2>Item 2.2.1</mici-link>
  </mici-nav>

  <script type=module src=../../../dist/index.min.js></script>
</body>
</html>
