:host {
  --a-link-color: #0277bd;
  --a-visited-color: #01579b;

  font-size: 1em;

  color: var(--a-link-color);
  text-decoration: none;
  cursor: pointer;
}

/* :host(:link) {
  color: var(--a-link-color);
} */

:host(:visited) {
  color: var(--a-visited-color);
}

:host(:hover), :host(:focus) {
  text-decoration: underline;
}

:host([type=button]) {
  display: inline-block;
  background: var(--button-back-color);
  color: var(--button-fore-color);
  border: 0.0625rem solid var(--button-border-color);
  border-radius: var(--universal-border-radius);
  padding: var(--universal-padding) calc(1.5 * var(--universal-padding));
  margin: var(--universal-margin);
  text-decoration: none;
  cursor: pointer;
  transition: background 0.3s;
}

:host([type=button]:hover) {
  background: var(--button-hover-back-color);
  border-color: var(--button-hover-border-color);
}

:host([type=button][disabled]) {
  cursor: not-allowed;
  opacity: 0.75;
}

:host([type=button][hidden]) {
  display: none;
}

:host-context(mici-header):host([type=button]) {
  box-sizing: border-box;
  position: relative;
  top: calc(0rem - var(--universal-padding) / 4);
  height: calc(3.1875rem + var(--universal-padding) / 2);
  background: var(--header-back-color);
  line-height: calc(3.1875rem - var(--universal-padding) * 1.5);
  text-align: center;
  color: var(--header-fore-color);
  border: 0;
  border-radius: 0;
  margin: 0;
  text-transform: uppercase;
}

:host-context(mici-header):host([type=button]:hover) {
  background: var(--header-hover-back-color);
}

:host-context(mici-header):host([type=logo]) {
  color: var(--header-fore-color);
  font-size: 1.75rem;
  padding: var(--universal-padding) calc(2 * var(--universal-padding));
  text-decoration: none;
}

:host-context(mici-footer):host([href]),
:host-context(mici-footer):host([href]:visited) {
  color: var(--footer-link-color);
}

:host-context(mici-nav) {
  padding: var(--universal-padding) calc(1.5 * var(--universal-padding));
}

:host-context(mici-nav):host([href]),
:host-context(mici-nav):host([href]:visited) {
  display: block;
  color: var(--nav-link-color);
  border-radius: var(--universal-border-radius);
  transition: background 0.3s;
}

:host-context(mici-nav):host([href]:hover),
:host-context(mici-nav):host([href]:focus),
:host-context(mici-nav):host([href]:visited:hover),
:host-context(mici-nav):host([href]:visited:focus) {
  text-decoration: none;
  background: var(--nav-hover-back-color);
}

:host-context(mici-nav):host([sublink-1]) {
  position: relative;
  margin-left: calc(2 * var(--universal-padding));
}

:host-context(mici-nav):host([sublink-1]):before {
  position: absolute;
  left: calc(var(--universal-padding) - 1 * var(--universal-padding));
  top: -0.0625rem;
  content: '';
  height: 100%;
  border: 0.0625rem solid var(--nav-border-color);
  border-left: 0;
}

:host-context(mici-nav):host([sublink-2]) {
  position: relative;
  margin-left: calc(4 * var(--universal-padding));
}

:host-context(mici-nav):host([sublink-2]):before {
  position: absolute;
  left: calc(var(--universal-padding) - 3 * var(--universal-padding));
  top: -0.0625rem;
  content: '';
  height: 100%;
  border: 0.0625rem solid var(--nav-border-color);
  border-left: 0;
}
